/goose
/goose.exe
goose_save.json
build/
dist/
bin/
obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.local/
.vscode/
.idea/
.zed/
.cursor/
.claude/
.cline/
*.sublime-workspace
*.sublime-project
.lmstudio/
.DS_Store
Thumbs.db
